<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <package android:name="com.d4rk.cartcalculator" />
        <package android:name="com.d4rk.cleaner" />
        <package android:name="com.d4rk.androidtutorials" />
        <package android:name="com.d4rk.qrcodescanner.plus" />
        <package android:name="com.d4rk.netprobe" />
        <package android:name="com.d4rk.androidtutorials.java" />
        <package android:name="com.d4rk.musicsleeptimer.plus" />
        <package android:name="com.d4rk.englishwithlidia.plus" />
        <package android:name="com.d4rk.lowbrightness" />
        <package android:name="com.d4rk.android.apps.weddix" />
    </queries>

    <application
        android:name=".AppToolkit"
        android:allowBackup="true"
        android:appCategory="productivity"
        android:banner="@drawable/tv_banner"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:description="@string/app_short_description"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/config_locales"
        android:logo="@drawable/ic_launcher_foreground"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="33">

        <activity
            android:name=".app.main.ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/SplashScreenTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5294151573817700~1979784742" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <meta-data android:name="google_analytics_automatic_screen_reporting_enabled"
            android:value="true" />

        <meta-data
            android:name="google_analytics_default_allow_analytics_storage"
            android:value="true" />
        <meta-data
            android:name="google_analytics_default_allow_ad_storage"
            android:value="true" />
        <meta-data
            android:name="google_analytics_default_allow_ad_user_data"
            android:value="eu_consent_policy" />
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="eu_consent_policy" />

        <receiver
            android:name=".core.broadcast.FavoritesChangedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.d4rk.android.apps.apptoolkit.action.FAVORITES_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
