<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>

        <activity
            android:name=".app.startup.ui.StartupActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.oboarding.ui.OnboardingActivity"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".app.settings.settings.ui.SettingsActivity"
            android:exported="true" />

        <activity
            android:name=".app.settings.general.ui.GeneralSettingsActivity"
            android:exported="true" />

        <activity
            android:name=".app.permissions.ui.PermissionsActivity"
            android:exported="true"
            android:permission="android.permission.START_VIEW_PERMISSION_USAGE"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE" />
                <action android:name="android.intent.action.VIEW_PERMISSION_USAGE_FOR_PERIOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".app.ads.ui.AdsSettingsActivity"
            android:exported="true" />

        <activity
            android:name=".app.help.ui.HelpActivity"
            android:exported="true" />

        <activity
            android:name=".app.support.ui.SupportActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_INITIALIZATION"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.ads.flag.OPTIMIZE_AD_LOADING"
            android:value="true" />
    </application>
</manifest>